h1{
   text-align: center;
   font-style: italic;
}
body {
    color: #A52A2A;
    background-color: #FFEBCD;
}
h2{
    text-align: center;
    background-color: white;
    border-style: none;   
}
div.box img{
    width: calc(100% - 15px);
    box-shadow: 0px 0px 0px 1px #00000077;
    border: black 5px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
div{
    background-color: white;
}
valami{
    border:black;
    padding-left: 10px;
    width: 80px;
    size: 20px; 
   
}
id{
    border: black;
}
table{
    border-spacing: 20px;
    color: white;
    caption-side: bottom;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 250px;  
    font-size: large;
}
table td:nth-child(1){
    background-color: green;
}
table td:nth-child(2){
    background-color:blue; 
}
table td:nth-child(3){
    background-color: red;
}
caption{
    color: black;
}
