body {background-color: #E9967A}

.center {background-color: white;
         border:  red 1px solid;
         padding: 8px;
         border-radius: 10px;
         width: 50%;
         margin-bottom: 8px}

#center2 {border-bottom: #A52A2A 2px solid; 
          width: 25%;
          margin-bottom: 8px}

* {margin-left: auto; 
   margin-right:auto;
   text-align: center; 
   color: #A52A2A;
   font-family: sans-serif}

table {margin-left: auto;
       margin-left: auto;
       padding: 10px;
       border-spacing: 10px}

img {width: 80%;
     margin-left: auto;
     margin-right: auto}

.cs {border: white 2px solid;
     border-radius: 25px;
     box-shadow: 4px 4px 3px 6px black;
     padding: 8px;
     color: white;
     background-color: red}

.css {border: white 2px solid;
      border-radius: 25px;
      box-shadow: 0px 0px 5px 5px black;
      padding: 10px;
      color: white;
      background-color: blue}

.ccs {border: white 2px solid;
      border-radius: 25px;
      box-shadow: 4px 4px 3px 6px black;
      padding: 8px;
      color: white;
      background-color: green}

h2 {text-decoration: underline}

div {font-size: 20px}

table td {border: 4px solid white;
          border-spacing: 8px}