

*{
    font-family: sans-serif;
}

body, html{
    background-color: blanchedalmond;
}

div.box{
    width: 70%;
    background-color: white;
    border: darksalmon 1px solid;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
}

h1{
    width: 50%;
    text-align: center;    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: darksalmon 1px solid;
    color: brown;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 40px;
    font-style: italic;
    font-weight: normal;
}

div.box img{
    width: calc(100% - 15px);
    border: white 5px solid;
    box-shadow: 0px 0px 0px 1px #00000077;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


div.box p{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: brown;
    text-align: justify;
    margin-top: 0px;
}

div.box h2{
    font-family: sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: brown;
    margin-bottom: 10px;
    text-align: center;
}

div.box p:last-child{
    margin-bottom: 0px;
}

div.box h2:first-child{
    margin-top: 0px;
}

div.box table{
    caption-side: bottom;
    border-collapse: separate;
    border-spacing: 30px 20px;
    margin-left: auto;
    margin-right: auto;
}

div.box table td{
    background-color: red;
    width: 40px;
    height: 40px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px #00000077;
    border: white 5px solid;
}

div.box table td:nth-child(1){
    min-width: 100px;
    background-color: green;
}

div.box table td:nth-child(2){
    background-color: blue;
}


div.box table td:nth-child(3){
    background-color: red;
}


div.box table caption{
    font-family: sans-serif;
    font-size: 12px;
    color: gray;
    font-style: italic;
}