/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2020.10.13., 13:15:48
    Author     : user
*/


img{
    display: block;
    width: 96%;
}

body{
    background-color: #FFDAB9;
    
}
h1
{
    text-align: center;
    font-style: italic;
    color: #A52A2A;
  
    border-bottom: 1px black solid;
    border-bottom-width: 1px;
    margin-left: 375px;
    margin-right: 375px;
    

}
h2{
    text-align: center;
    font-style: inherit;
    color: #A52A2A;
}
table{
    text-align:center;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    border-bottom: 3px;
    border-top: 3px;
    border-right: 3px;
    border-left:3px;
    border-color: red;
    

}
div{
    border: 2px outset red;
    background-color: white;
    text-align: center;
    width: 500Px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}


.zold{
    background-color: #008000;
    margin: 10px;
    padding: 15px;
    border-radius: 100px;
    padding-left:30px;
    padding-right:30px;
    
    
}
    table>tbody>tr>td{
    color: white;
    border-radius: 10px;
    border: white 5px solid;
    box-shadow: 3px 3px 8px 5px grey;
    font-size: 20px;
    
}
.kek{
    background-color: #0000FF;
    margin: 10px;
    border-radius: 180px;
    padding-left: 0px; 
    padding-right: 0px;
    

}
.piros{
    background-color: #FF0000;
    margin: 10px;
    padding: 15px;
    border-radius: 100px;
    padding-right: 1px;
    padding-left: 1px;
}

p{
    color: #A52A2A; 
}
img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border: 2px grey;
  
       
}
