@font-face{
    font-family: starwars;
    src: url("Starjedi.ttf");
}

body{
    padding: 0px;
    margin: 0px;
}

.button{
    width: 150px;
    height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../csongor pictures/gomb.png");
    background-size: 100% 300%;
    color: white;
    font-family: starwars;
    padding-top: 2px;
    font-size: 16px;   
    margin-right: 20px;
    text-decoration: none;
}

.button:last-child{
    margin-right: 0px;
}

.button:hover{
    background-position: 0px -32px;
}

.button:active{
    background-position: 0px -64px;
}