body {
    color: #A52A2A;
    background-color: #FFEBCD;
}

h1 {
    text-align: center;
    font-style: italic;
}

h2 {
    text-align: center;
    background-color: white;
}

p {
    
}

table {
    border-spacing: 20px
}

table {
    color: white;
    caption-side: bottom;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    widht: 250px;
}

div.doboz{
    background-color: white;
}

div.doboz img {
    widht: cale(100%-15px);
    border: white 5px solid;
    box-shadow: 0px 0px 0px 1px #00000077;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.doboz table td {
    -vebkit-box-shadow: 0px 0px 5px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px 5px #ccc;
    box-shadow: 0px 0px 6px 6px #ccc;
    background-color: #fff;
    border:5px soid white;
    height: 35px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    widht: 25px;
    color: white;
}