body {
    color: #A52A2A;
    background-color: #FFEBCD;
}

h1 {
    text-align: center;  
}

h2 {
    text-align: center;
    background-color: white;
}

p {
    background-color: white;
}

table {
    border-spacing: 20px
}

table {
    color: white;
    caption-side: bottom;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    widht: 250px;
}

div.box img {
    widht: cale(100%-15px);
    border: white 5px solid;
    box-shadow: 0px 0px 0px 1px #00000077;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

